<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Održavanje</title>
</head>
<body>
    <h1>Add New Održavanje</h1>
    <form action="/odrzavanje" method="post">
        <label for="Zaposlenik">Zaposlenik:</label>
        <select id="Zaposlenik" name="Zaposlenik" required>
            <% zaposlenici.forEach(zaposlenik => { %>
                <option value="<%= zaposlenik._id %>"><%= zaposlenik.Ime_i_prezime %></option>
            <% }); %>
        </select>
        <br>
        <label for="Smjestaj">Smještaj:</label>
        <select id="Smjestaj" name="Smjestaj" required>
            <% smjestaji.forEach(smjestaj => { %>
                <option value="<%= smjestaj._id %>"><%= smjestaj.Naziv %></option>
            <% }); %>
        </select>
        <br>
        <label for="Datum_i_vrijeme">Datum i vrijeme:</label>
        <input type="datetime-local" id="Datum_i_vrijeme" name="Datum_i_vrijeme" required>
        <br>
        <label for="Vrsta_odrzavanja">Vrsta održavanja:</label>
        <select id="Vrsta_odrzavanja" name="Vrsta_odrzavanja" required>
            <% vrsteOdrzavanja.forEach(vrsta => { %>
                <option value="<%= vrsta._id %>"><%= vrsta.Naziv %></option>
            <% }); %>
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
