<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Hranjenje</title>
</head>
<body>
    <h1>Edit Hranjenje</h1>
    <form action="/hranjenje/<%= hranjenje._id %>" method="post">
        <label for="Zaposlenik">Zaposlenik:</label>
        <input type="text" id="Zaposlenik" name="Zaposlenik" value="<%= hranjenje.Zaposlenik %>" required>
        <br>
        <label for="Hrana">Hrana:</label>
        <input type="text" id="Hrana" name="Hrana" value="<%= hranjenje.Hrana %>" required>
        <br>
        <label for="Smjestaj">Smještaj:</label>
        <input type="text" id="Smjestaj" name="Smjestaj" value="<%= hranjenje.Smjestaj %>" required>
        <br>
        <label for="Datum_i_vrijeme">Datum i vrijeme:</label>
        <input type="datetime-local" id="Datum_i_vrijeme" name="Datum_i_vrijeme" value="<%= hranjenje.Datum_i_vrijeme %>" required>
        <br>
        <button type="submit">Update Hranjenje</button>
    </form>
</body>
</html>

