<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Hranjenje</title>
</head>
<body>
    <h1>Add New Hranjenje</h1>
    <form action="/hranjenje" method="post">
        <label for="Zaposlenik">Zaposlenik:</label>
        <select id="Zaposlenik" name="Zaposlenik" required>
            <% zaposlenici.forEach(function(zaposlenik) { %>
                <option value="<%= zaposlenik._id %>"><%= zaposlenik.Ime_i_prezime %></option>
            <% }); %>
        </select>
        <br>
        <label for="Hrana">Hrana:</label>
        <select id="Hrana" name="Hrana" required>
            <% hrana.forEach(function(hranaItem) { %>
                <option value="<%= hranaItem._id %>"><%= hranaItem.Naziv %></option>
            <% }); %>
        </select>
        <br>
        <label for="Smjestaj">Smještaj:</label>
        <select id="Smjestaj" name="Smjestaj" required>
            <% smjestaji.forEach(function(smjestaj) { %>
                <option value="<%= smjestaj._id %>"><%= smjestaj.Naziv %></option>
            <% }); %>
        </select>
        <br>
        <label for="Datum_i_vrijeme">Datum i vrijeme:</label>
        <input type="datetime-local" id="Datum_i_vrijeme" name="Datum_i_vrijeme" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
